<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Startup</title>
    <link rel="stylesheet" href="layout.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="header">header</div>
      <div class="menu">menu</div>
      
      <div class="content_wrapper">
        <div class="content">content</div>
        <div class="main_content">main_content</div>
        <div class="content content_merge">content</div>
      </div>

      <div class="footer">footer</div>
    </div>
  </body>
</html>
