* {
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 2px;
  background-color: aqua;
  height: 99vh;
  display: grid;
  gap: 1px;
  /* grid-template-rows: 1fr 1fr 10fr 1fr; */
  grid-template-rows: 10% 10% 70% 10%;
}

.header,
.menu,
.footer,
.content_wrapper,
.content,
.main_content {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.content_wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 60% 20%;
}




@media screen and (max-width: 400px) and (min-width: 200px) {
  .wrapper{
    background-color: blue !important;
    font-size: large;
  }
  .content_wrapper {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 30% 70%;
  }
  .content_merge {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 200px) {
  .content_wrapper {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (orientation:landscape) {
  /* .body{

  } */
}
